.rowOne{
    padding-top: 50px;
}

.rowOne a{
    margin: 20px;
    font: bold;
    font-family: 'Arimo';font-size: 22px;
    height: 200px;
    width: 200px;
    border-radius: 25px 30px 40px 20px;
    padding: 20px;
    background-color: paleturquoise;
}
